<!DOCTYPE html>
<html>
<head>
    <title>Expense automation: How to automate expense reports and approvals</title> 
    <link rel="stylesheet" type="text/css" href="..//static/landing_page.css"> 
</head>
<body> 
    <nav>
        <div class="container">
            <!-- <img src="..//static/expenses_logo.jpeg" alt="Logo" class="logo"> -->
            <ul class="navbar">
                <li><a href="{{ url_for('auth.signUp') }}">Sign Up</a></li>
                <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                <li><a href="about.html">About Us</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="How it works.html">Information</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <img src="..//static/expenses_logo.jpeg" alt="Application Image" class="app-image">
        
            <h1>Welcome to Our Expenses Automation Application</h1>
        <h2>Why Automated Expenses Reports So Exciting ?</h2> 
<p>business processes are more disappointing than expense reports. We ask employees to pay with their own money, then effectively punish them further with paperwork just to get their money back. 
    And worse, this paperwork then lands on their manager's desk, the finance team's too, and the accountant's</p>

    <p> 20% of expense report are filled incorrectly these errors add up and can become a serious time and effort drain for your teams. And that assumes you catch these mistakes in the first place. 
        Because automation tools walk employees through claims step by step, it's far more difficult for errors to slip through.
         And these tools come with OCR technology that reads receipts for you and ensures they match the claim.</p>
    </div>
 </body>
</html>
