body {
    background-color: #a5c7ee;
    font-family: Arial, sans-serif;
}

.container {
    width: 800px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

h1 {
    text-align: center;
}

.dashboard {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.card {
    width: 45%;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card h2 {
    margin-bottom: 10px;
}

.card p {
    margin-bottom: 20px;
}

.card a {
    display: block;
    text-align: center;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.logout {
    display: block;
    text-align: center;
    margin-top: 30px;
    color: #777;
    text-decoration: none;
}

.logout:hover {
    text-decoration: underline;
}
